<!--
  Generated template for the RequisitionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header title="My Department"> </header>


<ion-content class="paddingTop">
	<ion-toolbar class="toolbar-color">
    <ion-segment [(ngModel)]="requisition" (ionChange)="onRequisitionChanged($event)" class="segment">
      <ion-segment-button value="wine" class="segment-btn">
        WINE
      </ion-segment-button>
      <ion-segment-button value="nonfood" class="segment-btn">
        NONFOOD
      </ion-segment-button>
      <ion-segment-button value="office" class="segment-btn">
        OFFICE
      </ion-segment-button>
      <ion-segment-button value="laundry" class="segment-btn">
        LAUNDRY
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div class="divC" navPop>
  	<ion-icon name="ios-arrow-back" class="iconC"></ion-icon>
  	<p class="nameC">Requisition</p>
  </div>
  <div *ngIf="ifWineMenuSelected">
  	<div class="divMain">
	    <ion-searchbar placeholder="Search" [(ngModel)]="searchTerm" (ionInput)="filterItems($event)" class="searchBar"></ion-searchbar>
			<ion-label class="selLabel">FILTER</ion-label>
	    <ion-grid>
				<ion-row>
					<ion-col col-4 col-xl-4 class="checkCss" *ngFor="let wine of checkWines;let idx = index;">
						<ion-item class="chkItem" >
							<ion-checkbox [(ngModel)]="wine.isChecked" class="chkbox" (click)="selectDrinkRequi(wine)"></ion-checkbox>
					    <ion-label class="checkLabel">{{wine.name}}</ion-label>

				    </ion-item>
				    
					</ion-col>
					<ion-col col-4 col-xl-4 class="checkCss">
						<ion-item class="item2">
					    <img src="assets/imgs/mydepartment/shopping.png" item-start class="shopImg" *ngIf="sum == 0">
					    <img src="assets/imgs/mydepartment/shopping_1.png" item-start class="shopImg" *ngIf="sum > 0" (click)="toSeeOrderLists()">
					    <p item-end class="itemP">{{sum}} item</p>
				    </ion-item>
			    </ion-col>

				</ion-row>
			</ion-grid>

	    <ion-grid>
	    	<ion-row>
	    		<ion-col col-5 col-xl-5 col-lg-3>
	    			<button ion-button round outline class="imageBtn" (click)="gotoPreviousOrder()" item-end>PREVIOUS ORDER</button>
	    		</ion-col>
	    		<ion-col col-7 col-xl-7 col-lg-9 class="colToggle">
	    			<img src="assets/imgs/mydepartment/allorder.png" item-end class="toggleImg" *ngIf="ifAllOrder" (click)="selectAllorder()">
	    			<img src="assets/imgs/mydepartment/outorder.png" item-end class="toggleImg" *ngIf="ifOutOrder" (click)="selectOutorder()">
	    		</ion-col>
	    	</ion-row>

	    	<div *ngIf="!outofOrder">
		    	<ion-row class="listRow" *ngFor="let wine of wineLists;let idx = index">
		    		<ion-col col-3 col-xl-3 col-lg-3 class="listCol">
		    			<img src="{{wine.images}}" class="listImg">
		    		</ion-col>

		    		<ion-col col-5 col-xl-5 col-lg-5 class="listcol5">
		    			<b class="idB">{{wine.name}}<p class="listId">{{wine.id}}</p></b>
		    		</ion-col>

		    		<ion-col col-4 col-xl-4>
		    			<ion-row>
				    		<ion-col col-3 col-xl-3 col-lg-3 class="listIcon1">
				    			<ion-icon name="remove-circle" (click)="decrementQty(wine)"></ion-icon>
				    		</ion-col>
				    		<ion-col col-6 col-xl-6 col-lg-6 class="listCol2">
				    			<p class="listCount">{{wine.quantity}}</p>
				    		</ion-col>
				    		<ion-col col-3 col-xl-3 col-lg-3 class="listIcon2">
				    			<ion-icon name="add-circle" (click)="incrementQty(wine)"></ion-icon>
				    		</ion-col>
			    		</ion-row>
			    		<ion-row *ngIf="wine.out_of_order !== ''">
				    		<ion-col class="outOrder">
				    			<p class="outP">Out of order until {{wine.out_of_order | date:"dd/MM/yyyy"}}</p>
				    		</ion-col>
			    		</ion-row>
		    		</ion-col>
		    	</ion-row>
		    </div>
	    	<div *ngIf="outofOrder">
		    	<ion-row class="listRow" *ngFor="let outof of outofLists;let idx = index">
		    		<ion-col col-3 col-xl-3 col-lg-3 class="listCol">
		    			<img src="{{outof.images}}" class="listImg">
		    		</ion-col>

		    		<ion-col col-5 col-xl-5 col-lg-5 class="listcol5">
		    			<b class="idB">{{outof.name}}<p class="listId">{{outof.id}}</p></b>
		    		</ion-col>

		    		<ion-col col-4 col-xl-4>
		    			<ion-row>
				    		<ion-col col-3 col-xl-3 col-lg-3 class="listIcon1">
				    			<ion-icon name="remove-circle" (click)="decrementQty(outof)"></ion-icon>
				    		</ion-col>
				    		<ion-col col-6 col-xl-6 col-lg-6 class="listCol2">
				    			<p class="listCount">{{outof.quantity}}</p>
				    		</ion-col>
				    		<ion-col col-3 col-xl-3 col-lg-3 class="listIcon2">
				    			<ion-icon name="add-circle" (click)="incrementQty(outof)"></ion-icon>
				    		</ion-col>
			    		</ion-row>
			    		<ion-row>
				    		<ion-col class="outOrder">
				    			<p class="outP">Out of order until {{outof.out_of_order | date:"dd/MM/yyyy"}}</p>
				    		</ion-col>
			    		</ion-row>
		    		</ion-col>
		    	</ion-row>
	    	</div>
	    </ion-grid>
		</div>
	</div>
	<div *ngIf="ifNonfoodMenuSelected">
  	non food
	</div>
	<div *ngIf="ifOfficeMenuSelected">
  	office
	</div>
	<div *ngIf="ifLaundryMenuSelected">
  	Laundry
	</div>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="scroll == 'allorder'">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more all order data..." *ngIf="pagingEnabled"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div *ngIf="!pagingEnabled && scroll == 'allorder'" class="nopost"> No more all order is available.</div>

  <ion-infinite-scroll (ionInfinite)="doInfinite1($event)" *ngIf="scroll == 'outoforder'">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more out of order data..." *ngIf="pagingEnabled1"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div *ngIf="!pagingEnabled1 && scroll == 'outoforder'" class="nopost"> No more out of order is available.</div>
	<div style="margin-top: 45px;height: 20px;"></div>
</ion-content>
