page-forgot-password {
	.logoHotel {
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
    display: flex;
    margin: auto;
    margin-top: -10.3vh;
    z-index: 999;
    position: relative;
    }
    .animationImg{
        height: 30vh;
    width: 100%;
    }
 	.bgCss {
 		background-color: #F3F3F3;
 	}
 	.backArrow{
 		position: absolute;
    padding: 5px;
    font-size: 20px;
 	}
 	.formCss{
 		width: 85%;
    margin: auto;
 	}
 	.inputText{
    font-size: 14px;
 	}
 	.itemCss{
    border-radius: 7px;
    min-height: 35px;
    height: 32px;
 	}
 	.emailP{
 		color: #999999;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 12px;
 	}
 	.forgotBtn {
    background: #1221B0;
    width: 50%;
    height: 30px;
    margin: auto;
    font-size: 11px;
    position: fixed;
    left: 0;
    bottom: 30px;
    right: 0;
    font-weight: 600;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
	}
 	.forgotBtn:hover{
		background-color: #1221B0 !important;
	}
}	
