page-create-new-private-message {
	.back-button.show-back-button {
    display: none;
	}
	.iconCss{
		font-size: 24px;
    color: #fff;
	}
 .divCss{
		background-color: #01083c;
	}
 .item-md{
		margin-top: 10px !important;
	}
 .pCss{
		color: #fff;
		font-family: 'Roboto' !important;
	}
	.gridCss{
		background: #f3f3f3;
    width: 90%;
    margin: auto;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 55px;
	}
 .headP{
		color: #494949;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Roboto' !important;
    font-weight: 300;
	}
	.drpItem{
		padding: 0px 0px 0px 8px;
		border-radius: 5px;
		height: 23px;
    min-height: 32px;
    font-size: 12px;
    color: #ADADAD;
    font-weight: 500;
	}
 .imageBtn{
		height: 30px;
    width: 100%;
    border-color: #C3C5C6;
    color: #9c9c9c;
    font-weight: 600;
    font-size: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
	}
	.imageBtn:hover{
		background-color: transparent !important;
	}
 .textArea{
		background: #fff;
		color: #000;
	}
	.cancelBtn{
		height: 30px !important;
    width: 150px;
    color: #fff;
    font-weight: 600;
    font-size: 12px !important;
    background: #E3312C;
    font-family: 'Roboto' !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
	}
	.cancelBtn:hover{
		background-color: #E3312C !important;
	}
	.postBtn{
		height: 30px !important;
    width: 150px;
    color: #fff;
    font-weight: 600;
    font-size: 12px !important;
    background: #0614AE;
    font-family: 'Roboto' !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
	}
	.postBtn:hover{
		background-color: #0614AE !important;
	}
	.lastBtns{
		background-color: transparent;
	}
	.headlineC{
		display: flex;
		align-items: center;
	}
	.createImg{
		height: 50px;
    width: 50px;
	}
	.createItem{
		background-color: transparent;
	}

	.image {
    margin: auto;
    height: 50px; 
    width: 50px; 
    border-radius: 100px;
    box-shadow: none;
    display: block;
	}
	.editIcon {
		margin: auto;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    box-shadow: none;
    display: block;
	}
	.main_photo{
    position:relative;
    width:70px;
    height:70px;
    display: flex;
	}
	.inlay{
    position:absolute;
    top:0px;
    right:0px
	}
	.userNameC{
		font-family: 'Roboto' !important;
	}
	.desigC{
		font-size: 11px;
    font-family: 'Roboto' !important;
    width: 100px;
    text-align: center;
	}

	///DEFAULT CSS
	textarea.text-input {
    display: block;
    padding: 10px 10px 50px 10px;
	}
}
